# Конфиденциальные данные
clients_config.json
clients_config.txt
credentials/

# Виртуальное окружение (если используется)
venv/
.venv/

# Кэш Python
__pycache__/
*.pyc

# Временные файлы
tmp_pdf/

# Системные файлы
.DS_Store
.env
.idea/